<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav">
                    <div class="form-group sort-box">
                        <select class="form-control" id="sel1">
                            <option>Sort by Name(A-Z)</option>
                            <option>Sort by Name(Z-A)</option>
                            <option>Sort by Rank </option>
                            <option>Sort by Rank </option>
                        </select>
                    </div>
                </ul>
                <ul class="nav navbar-nav">
                    <div class="search search-box">
                        <div class="box">
                            <input type="text" class="form-control" placeholder="Search" (keyup)="search($event)">
                        </div>
                        <div class="symbol">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</nav>