.sort-box {
    margin-right: 3em;
    margin-top: 3%;
}
.search-box{
    position: relative;
    left: 5em;
    margin-top: 3%;
    width: 100%
}

.search{
    display: flex;
}
.symbol{
    position: relative;
    left: -25px;
    color: grey;
    margin-top: 4%;
}


